<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  <appSettings>
    <add key="EmailTo" value="erwin.hilb@tik.uni-stuttgart.de" />
    <add key="EmailSubject" value="TIK BW_USER" />
    <add key="EmailBody" value="Sehr geehrter Herr / Frau,
         
Bitte finden Sie die angehängten Dateien für SAP BI UserAntrag.
         
Danke vielmals, 
SAP-Support-Team" />                                
    <add key="Path" value="C:\Users\" />
  </appSettings>  
  
</configuration>